article.page .page__content .highlight table td { padding: 5px; }
article.page .page__content .highlight table pre { margin: 0; }
article.page .page__content .highlight .cm {
  color: #999988;
  font-style: italic;
}
article.page .page__content .highlight .cp {
  color: #999999;
  font-weight: bold;
}
article.page .page__content .highlight .c1 {
  color: #999988;
  font-style: italic;
}
article.page .page__content .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
article.page .page__content .highlight .c, article.page .page__content .highlight .ch, article.page .page__content .highlight .cd, article.page .page__content .highlight .cpf {
  color: #999988;
  font-style: italic;
}
article.page .page__content .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
article.page .page__content .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
article.page .page__content .highlight .ge {
  color: #000000;
  font-style: italic;
}
article.page .page__content .highlight .gr {
  color: #aa0000;
}
article.page .page__content .highlight .gh {
  color: #999999;
}
article.page .page__content .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
article.page .page__content .highlight .go {
  color: #888888;
}
article.page .page__content .highlight .gp {
  color: #555555;
}
article.page .page__content .highlight .gs {
  font-weight: bold;
}
article.page .page__content .highlight .gu {
  color: #aaaaaa;
}
article.page .page__content .highlight .gt {
  color: #aa0000;
}
article.page .page__content .highlight .kc {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .kd {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .kn {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .kp {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .kr {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .kt {
  color: #445588;
  font-weight: bold;
}
article.page .page__content .highlight .k, article.page .page__content .highlight .kv {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .mf {
  color: #009999;
}
article.page .page__content .highlight .mh {
  color: #009999;
}
article.page .page__content .highlight .il {
  color: #009999;
}
article.page .page__content .highlight .mi {
  color: #009999;
}
article.page .page__content .highlight .mo {
  color: #009999;
}
article.page .page__content .highlight .m, article.page .page__content .highlight .mb, article.page .page__content .highlight .mx {
  color: #009999;
}
article.page .page__content .highlight .sa {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .sb {
  color: #d14;
}
article.page .page__content .highlight .sc {
  color: #d14;
}
article.page .page__content .highlight .sd {
  color: #d14;
}
article.page .page__content .highlight .s2 {
  color: #d14;
}
article.page .page__content .highlight .se {
  color: #d14;
}
article.page .page__content .highlight .sh {
  color: #d14;
}
article.page .page__content .highlight .si {
  color: #d14;
}
article.page .page__content .highlight .sx {
  color: #d14;
}
article.page .page__content .highlight .sr {
  color: #009926;
}
article.page .page__content .highlight .s1 {
  color: #d14;
}
article.page .page__content .highlight .ss {
  color: #990073;
}
article.page .page__content .highlight .s, article.page .page__content .highlight .dl {
  color: #d14;
}
article.page .page__content .highlight .na {
  color: #008080;
}
article.page .page__content .highlight .bp {
  color: #999999;
}
article.page .page__content .highlight .nb {
  color: #0086B3;
}
article.page .page__content .highlight .nc {
  color: #445588;
  font-weight: bold;
}
article.page .page__content .highlight .no {
  color: #008080;
}
article.page .page__content .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
article.page .page__content .highlight .ni {
  color: #800080;
}
article.page .page__content .highlight .ne {
  color: #990000;
  font-weight: bold;
}
article.page .page__content .highlight .nf, article.page .page__content .highlight .fm {
  color: #990000;
  font-weight: bold;
}
article.page .page__content .highlight .nl {
  color: #990000;
  font-weight: bold;
}
article.page .page__content .highlight .nn {
  color: #555555;
}
article.page .page__content .highlight .nt {
  color: #000080;
}
article.page .page__content .highlight .vc {
  color: #008080;
}
article.page .page__content .highlight .vg {
  color: #008080;
}
article.page .page__content .highlight .vi {
  color: #008080;
}
article.page .page__content .highlight .nv, article.page .page__content .highlight .vm {
  color: #008080;
}
article.page .page__content .highlight .ow {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .o {
  color: #000000;
  font-weight: bold;
}
article.page .page__content .highlight .w {
  color: #bbbbbb;
}
article.page .page__content .highlight {
  background-color: #f8f8f8;
}
